@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", monospace;
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
